@page
@model IndexModel
@{
    ViewData["Title"] = "Employees";
}

<h1>Employees</h1>

<div class="row">
    @foreach (var employee in Model.Employees)
    {
        <div class="col-md-3 mb-2">
            <div class="card ">
                <img src="~/img/@employee.Photo" alt="" class="card-img-top mx-auto d-block"  style="width: 300px; height: 300px; object-fit: cover;">
                <div class="card-body text-center">
                    <h5 class="card-title">@employee.Name</h5>
                    <p class="card-text">@employee.Department</p>
                    <a asp-page="/employees/details" asp-route-id="@employee.Id" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    }
</div>
